// TODO: use otf woff woff2

/* Font Definitions */

// Futura Font Family
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Futura/Futura Book font.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Futura/Futura Heavy font.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Futura/Futura Heavy Italic font.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Futura/Futura Book Italic font.ttf") format("truetype");
  font-display: swap;
}
