.container {
  margin: 0 auto;
  max-width: 768px;
  padding: 0 20px;
}

nav, footer {
  background-color: $nav-footer-background-color;
  color: $nav-footer-color;
  text-align: center;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}
