.posts-list {
  color: #333;
  margin-bottom: auto;
  margin-top: auto;
}

.posts-list h2 {
  font-style: normal;
  margin-bottom: auto;
  margin-top: auto;
}


.posts-list h3 {
  margin-bottom: auto;
  margin-top: auto;
}


.posts-list a {
  color: #333;
  // remove underline
  text-decoration: underline;
}
