.post {
  width: 100%;
  max-width: 1000px;
  text-align: left;
  padding: 0 1.5em 20px;
  margin: 20px auto;
  background: transparent;

  &.on-list {
    background: $header-background-color;
    cursor: pointer;
    margin: 0;
    border-bottom: 1px black dashed;
  }

  &-row {
    display: flex;

    &:first-of-type {
      padding-top: 10px;
    }
  }

  &-meta {
    display: inline-block;
  }
}

.post.on-list h3 {
  font-size: 1.3rem;    /* Adjusted list page title size to maintain hierarchy */
  width: 100%;

  margin-top: 0;
  margin-bottom: 0;
}

.post.on-list small {
  margin-left: auto;
  font-weight: lighter;
}
