/* Theme Variables */
@charset "UTF-8";

// Color Scheme
$color: #222;
$background-color: #fff;

$header-background-color: #fafafa;

// Navigation Colors
$nav-color: #fff;
$nav-background-color: #333;
